*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/modules.xml
/.idea/vcs.xml
.DS_Store
/build
/captures
.externalNativeBuild
app/.idea/
app/gradle/
app/gradlew
app/gradlew.bat
app/local.properties

